/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

.logo {
    font-size: 28px;
    font-weight: 200;
}

.logo-blue {
    font-size: 28px;
    color: #3D37F1;
    font-weight: 700;
}

.admin-menu li a {
    padding-right: 0;
    padding-left: 0;
}

.admin-menu {
    padding-top: 8px;
    margin-bottom: -1rem;
}

.navbar-nav button {
    margin-right: -8px;
    margin-top: -1px;
}

.main-menu {
    font-size: 20px;
}

.container {
    padding: 0;
}

/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
  width: 100vw;
}

body {
    /* Margin bottom by footer height */
  margin-bottom: 60px;
  overflow-x: hidden;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

/* Users
-------------------------------------------------- */

.users {
    background-color: #fafafa;
    height: 100vh;
}

.users h1 {
    margin: 0;
    padding-top: 3rem;
    padding-bottom: 2rem;
    text-align: center;
    color: #252525;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-between;
    padding-bottom: 3rem;
    padding-top: 3rem;
}

.grid-item {
    background-color: #fafafa;
    padding: 2rem;
    padding-top: 0;
    border-radius: 4px;
    margin-bottom: 5rem;
    width: 300px;
}

.grid-item img {
    height: 100px;
    border-radius: 50%;
    margin-top: -3rem;
}

.grid-item p {
    margin: 0;
    text-align: center;
}

.name {
    color: #252525;
    padding-top: 1rem;
}

.role {
    color: #252525;
    font-size: 14px;
    padding-bottom: 1rem;
}

.school-class {
    color: #585858;
    font-size: 14px;
}